* {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #222;
}
.container {
  max-width: 1200px;
  margin: auto;
}
.navbar {
  padding: 30px 0;
  background-color: transparent;
  position: fixed;
  width: 100%;
  z-index: 99999;
  transition: 0.3s linear;
}
.navbar.active {
  background-color: #000;
  padding: 22px 0;
  box-shadow: 0px -8px 20px 0px #282828;
}
.navbar.active .nav-links a {
  border-bottom: 1px solid #000;
}
.nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.nav-links {
  display: flex;
  align-items: center;
}
.nav-links a {
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s linear;
  color: #fff;
  padding: 4px 0;
  margin: 0 12px;
  transition: 0.3s linear;
  border-bottom: 1px solid;
  border-color: #222;
}
.nav-links a:hover {
  border-bottom: 1px solid #007bff !important;
}
.nav-links a.active {
  color: #fff;
}
.fa-gear {
  font-size: 30px;
  cursor: pointer;
  background: #007bff;
  padding: 10px 12px !important;
  border-radius: 10px;
  color: #fff !important;
}
.logo-text {
  color: #f1f1f1;
  text-decoration: none;
  font-weight: 800;
  font-size: 22px;
  font-family: "Montserrat";
  text-transform: uppercase;
}
.logo {
  width: 50px;
  fill: #007bff;
}
.nav-logo {
  display: flex;
  align-items: center;
}
.menu-toggler {
  background: none;
  width: 30px;
  border: none;
  cursor: pointer;
  position: relative;
  outline: none;
  z-index: 999;
  display: none;
}
.menu-toggler span {
  display: block;
  height: 3px;
  background-color: #fff;
  margin: 6px 0;
  position: relative;
  transition: 0.3s linear;
}
/* Home */

#Home {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 15px;
}
.social-links a {
  font-size: 30px;
  color: #b5b5b5;
  transition: 0.3s linear;
}
.social-links a:hover {
  font-size: 30px;
  color: #fff;
}
.social-links .fa-github {
  margin: 15px 0;
}
.social-links-home {
  display: flex;
  padding-top: 25px;
  display: none;
}
.social-links-home a {
  font-size: 30px;
  color: #b5b5b5;
  transition: 0.3s linear;
}
.social-links-home a:hover {
  font-size: 30px;
  color: #fff;
}
.social-links-home .fa-github {
  margin: 0 15px;
}
.contact-home {
  text-decoration: none;
  background-color: #007bff;
  padding: 15px;
  color: #fff;
  font-size: 14px;
  transition: 0.3s linear;
  border-radius: 5px;
}

.contact-home:hover {
  background-color: #0060c6;
}
.home-container {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: auto;
}
.home-div {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.left-home {
  width: 40%;
  color: #fff;
}
.left-home h1 {
  font-size: 36px;
}
.left-home h3 {
  margin: 10px 0 30px 0;
  color: #fff;
}
.right-home {
  width: 40%;
  display: flex;
  justify-content: flex-end;
}
.right-home svg {
  width: 300px;
  fill: #007bff;
}
.right-home img {
  width: 100%;
  border-radius: 10px;
}

/* about */
#About {
  padding-bottom: 50px;
}
.about-content svg {
  width: 300px;
  fill: #007bff;
}
.about-content image {
  width: 100%;
}
.designed-title {
  position: relative;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 50px;
  color: #f1f1f1;
}
.designed-title:after {
  font-family: "Montserrat", sans-serif;
  content: "About" !important;
  position: absolute;
  z-index: -1;
  top: -7%;
  bottom: 0;
  width: 100%;
  height: 100%;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(50px, 10vw, 100px);
  font-weight: 800;
  line-height: 1;
  color: #222;
  text-shadow: -1px 0 rgba(255, 255, 255, 0.2), 0 1px rgba(255, 255, 255, 0.2),
    1px 0 rgba(255, 255, 255, 0.2), 0 -1px rgba(255, 255, 255, 0.2);
}
.experience-title {
  position: relative;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 50px;
  color: #f1f1f1;
}
.experience-title:after {
  font-family: "Montserrat", sans-serif;
  content: "Experience" !important;
  position: absolute;
  z-index: -1;
  top: -7%;
  bottom: 0;
  width: 100%;
  height: 100%;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(50px, 10vw, 100px);
  font-weight: 800;
  line-height: 1;
  color: #222;
  text-shadow: -1px 0 rgba(255, 255, 255, 0.2), 0 1px rgba(255, 255, 255, 0.2),
    1px 0 rgba(255, 255, 255, 0.2), 0 -1px rgba(255, 255, 255, 0.2);
}

#Skills {
  margin-top: 100px;
  margin-bottom: 100px;
}
.skill-title {
  position: relative;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 50px;
  color: #f1f1f1;
}
.skill-title:after {
  font-family: "Montserrat", sans-serif;
  content: "Specialized at" !important;
  position: absolute;
  z-index: -1;
  top: -7%;
  bottom: 0;
  width: 100%;
  height: 100%;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(50px, 10vw, 100px);
  font-weight: 800;
  line-height: 1;
  color: #222;
  text-shadow: -1px 0 rgba(255, 255, 255, 0.2), 0 1px rgba(255, 255, 255, 0.2),
    1px 0 rgba(255, 255, 255, 0.2), 0 -1px rgba(255, 255, 255, 0.2);
}

.works-title {
  position: relative;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  color: #f1f1f1;
  font-size: 50px;
  margin-bottom: 80px;
}
.works-title:after {
  font-family: "Montserrat", sans-serif;
  content: "Works" !important;
  position: absolute;
  z-index: -1;
  top: -7%;
  bottom: 0;
  width: 100%;
  height: 100%;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(50px, 10vw, 100px);
  font-weight: 800;
  line-height: 1;
  color: #222;
  text-shadow: -1px 0 rgba(255, 255, 255, 0.2), 0 1px rgba(255, 255, 255, 0.2),
    1px 0 rgba(255, 255, 255, 0.2), 0 -1px rgba(255, 255, 255, 0.2);
}
.about-content {
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.about-content-text {
  width: 100%;
  padding: 0 20px;
  margin: 20px 0;
}
.experience {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}
.experience h1 {
  font-weight: 800;
  font-size: 100px;
  margin-right: 10px;
  color: #007bff;
}
.experience p {
  font-weight: 600;
  font-size: 24px;
}
.about-name {
  margin: 10px 0;
}
.about-content {
  color: #fff;
}
.skills-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  gap: 35px;
  flex-wrap: wrap;
}
.skill {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  min-width: 15%;
  max-width: 16%;
  color: #fff;
}
.skill svg {
  font-size: 55px;
  padding-bottom: 10px;
}
.skill-bg {
  background-color: #222;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0px 4px 20px 4px rgba(69, 69, 69, 0.1);
  padding: 20px 0;
  transition: 0.3s linear;
}
.skill-bg:hover {
  transform: scale(1.1);
}
.skill-bg h3 {
  font-size: 24px;
  font-weight: 400;
}
.skill h2 {
  font-weight: 500;
  margin-top: 10px;
}
.fa-html5 {
  color: #e34c26;
}
.fa-css3 {
  color: #264de4;
}
.fa-bootstrap {
  color: #553c7b;
}
.fa-sass {
  color: #cd6799;
}
.fa-js {
  color: #f0db4f;
}
.fa-react {
  color: #61dbfb;
}
.fa-wordpress {
  color: #61dbfb;
}

.fa-git {
  color: #f1502f;
}
.fa-figma {
  color: rgb(131, 58, 180);
}
/* experience-container */
#Experience {
  margin-top: 30px;
}
.experience-box {
  padding: 70px 0;
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: space-between;
}
.experience-box-year {
  width: 30%;
  background-color: #007bff;
  text-align: center;
  border-radius: 20px;
  box-shadow: 7px 7px 0 0 #fff;
  padding: 30px;
}
.experience-box-year h1 {
  font-size: 300px;
  color: #fff;
}
.experience-box-year p {
  font-size: 35px;
  color: #fff;
  font-family: "Satisfy", cursive;
}
.experience-container {
  display: flex;
  width: 70%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.info-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #fff;
  /* margin: 30px 0; */
}
.experience-container .info-title {
  display: flex;
  justify-content: space-between;
}
.experience-container .info-title h3 {
  font-size: 25px;
}
.experience-container .info-company {
  color: #1a89ff;
  margin: 8px 0;
}
.experience-container .info-desc {
  color: #c1c1c1;
}
/* wokrs */
#Works {
  margin-top: 50px;
}
.works-content {
  margin-top: 40px;
  width: 100%;
}
.works-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100%;
  margin: 20px 0;
  padding: 20px;
  border-radius: 10px;
  background-color: #000;
}
.work-image {
  width: 50%;
}

.work-image img {
  border-radius: 5px;
  width: 100%;
}

.works-detail:nth-child(even) .work-image {
  order: 2;
}
.works-detail-text h2 {
  font-size: 30px;
}
.works-detail-text-tech {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.works-detail-text-tech span {
  padding: 8px 18px;
  background-color: #007bff;
  border-radius: 40px;
}
.works-detail .works-detail-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 35px;
  justify-content: space-between;
  color: #f1f1f1;
}
.works-detail-text-info p {
  margin-top: 10px;
  color: #ccc;
}
.works-detail .works-detail-text .works-btn {
  border: none;
  background-color: #007bff;
  border-radius: 40px;
  overflow: hidden;
  width: fit-content;
  transition: 0.3s linear;
  color: #fff;
  text-decoration: none;
  padding: 0.8rem 1.5rem;
  font-size: 14px;
}
.works-detail .works-detail-text .works-btn:hover {
  background-color: #0060c6;
}
.not-published {
  color: #007bff !important;
}
/* contact */
.send_msg {
  width: 50%;
}
.send_msg button {
  border: 1px solid #515151;
  padding: 14px 20px;
  width: 100%;
  background-color: transparent;
  margin: 10px 0;
  color: #f1f1f1;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s linear;
}
.send_msg button:hover {
  background-color: #515151;
}
/* contact */
#Contact {
  padding-top: 50px;
  margin-top: 100px;
  background-color: #000;
}
.contact-title {
  position: relative;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  color: #f1f1f1;
  font-size: 50px;
  z-index: 99;
}
.contact-title:after {
  font-family: "Montserrat", sans-serif;
  content: "Say Hi!" !important;
  position: absolute;
  z-index: -1;
  top: -7%;
  bottom: 0;
  width: 100%;
  height: 100%;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(50px, 10vw, 100px);
  font-weight: 800;
  line-height: 1;
  color: #000;
  text-shadow: -1px 0 rgba(255, 255, 255, 0.2), 0 1px rgba(255, 255, 255, 0.2),
    1px 0 rgba(255, 255, 255, 0.2), 0 -1px rgba(255, 255, 255, 0.2);
}
.contactform h3 {
  color: #f7f7f7;
  margin-top: 50px;
  margin-bottom: 30px;
  text-align: center;
}

#form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 20px 0 0 0;
}
#form .form-control-div input {
  width: 100%;
  padding: 10px 8px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #515151;
  color: #fff;
  outline: none;
  transition: 0.3s linear;
}
#form .form-control-div input:focus,
#form .form-control-div textarea:focus {
  border-color: white;
}
#form .form-control-div textarea {
  transition: 0.3s linear;
  width: 100%;
  padding: 10px 8px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #515151;
  color: #fff;
  outline: none;
}
/* footer */
#Footer {
  background-color: #000;
  padding: 60px 0;
  color: #fff;
}
.fotter__groups {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fotter__groups p {
  margin-bottom: 20px;
}
.fotter__groups a {
  color: #c7c7c7;
  margin: 10px;
  font-size: 22px;
  transition: 0.3s linear;
}
.fotter__groups a:hover {
  color: #fff;
}
@media screen and (max-width: 1200px) {
  .skill {
    min-width: 24%;
  }
  .experience-box {
    flex-direction: column !important;
  }
}
@media screen and (max-width: 900px) {
  .menu-toggler {
    display: block;
    padding: 0 50px 0 0;
  }
  .nav-logo {
    padding: 0 0 0 50px;
  }
  .nav-links {
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: #000;
    top: 0;
    right: -100%;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.3s linear;
  }

  .nav-links a {
    border: none !important;
    padding: 55px 0;
  }
  .nav-links.nav-responsive {
    right: 0;
  }
  .menu-toggler.nav-responsive span:nth-child(1) {
    transform: rotate(-45deg);
    top: 4px;
  }
  .menu-toggler.nav-responsive span:nth-child(2) {
    opacity: 0;
  }
  .menu-toggler.nav-responsive span:nth-child(3) {
    transform: rotate(45deg);
    bottom: 14px;
  }
  .home-div {
    flex-direction: column;
  }
  .left-home {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .right-home {
    padding-top: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .right-home img {
    width: 50%;
  }
  .works-detail {
    margin: 0;
  }
  .right-home svg {
    min-width: 55%;
  }
  .works-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .works-detail {
    flex-direction: column;
    width: 90%;
  }
  .about-content {
    width: 95%;
  }
  .works-detail .work-image {
    order: 2;
    padding: 20px 0;
    max-width: 100%;
  }
  .works-detail-text {
    width: 90% !important;
    padding: 30px 0 !important;
  }
  .work-image img {
    width: 100%;
  }
  .contactform {
    width: 80%;
    margin: auto;
  }
}
@media screen and (max-width: 650px) {
  .skill {
    min-width: 40%;
  }
  .about-content {
    justify-content: center;
  }
  .about-content-text {
    width: 80%;
  }
  .about-content-text p {
    line-height: 24px;
  }
  .experience {
    padding: 30px 0;
  }
  .experience h1 {
    font-size: 70px;
  }
  .experience-p {
    font-size: 19px !important;
    line-height: normal !important;
  }
  .social-links-home {
    display: flex;
  }
  .social-links {
    display: none;
  }
  .home-div {
    height: 60vh;
  }
  div#About {
    padding: 100px 0 0 0;
    height: 100vh;
    display: flex;
    align-items: center;
  }
}
@media screen and (max-width: 600px) {
  .skills-content {
    justify-content: center;
  }
  .skill-bg {
    min-width: 50%;
    padding: 30px 0;
  }
  .skill-title {
    font-size: 40px;
  }
  .skill-title:after {
    font-size: clamp(45px, 6vw, 50px);
  }
  .right-home img {
    padding-bottom: 100px;
  }
  .info-container {
    width: 90%;
  }
  .info-container .info-title {
    flex-direction: column;
  }
  .info-container .info-title h3 {
    font-size: 20px;
  }
  .info-container .info-title p {
    margin-top: 5px;
  }
  .experience-title {
    font-size: 35px;
  }
}
